/* ✅ Custom CSS */
:root {
  /* Primary Colors */
  --color-primary: rgb(18, 109, 116);
  --color-secondary: #6e3b3b;

  /* Call-To-Action (CTA) */
  --color-cta: #dd4913;
  --color-cta-hover: #b9461d;
  --color-cta-inactive: #eaf9ff;
  --color-cta-active: #f54708;

  /* Brand Colors */
  --color-brand: #dd4913;
  --color-brand-light: rgb(14, 75, 80);

  /* Text Colors */
  --color-text-dark: #333333;
  --color-text-light: #f0f0f0;

  /* Background Colors */
  --color-bg-light: #e9e9e9;
  --color-bg-dark: #1d1d1d;
  --color-bg-footer-dark: rgb(14, 36, 65);
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* ✅ Example Usage */

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #08b3e5 0%, #0f97ac 35%, #1bc091 100%);
  color: var(--color-text-light);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1em;
  font-weight: 700;
}

h3 {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: 700;
  text-align: left;
}

.button-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.button-cta {
  background-color: var(--color-cta);
  color: white;
}

table {
  width: 100%;
  margin: auto;
}
